body{
margin:0;
font-family:Segoe UI;
background:#f8fafc;
}

.sidebar{
width:250px;
height:100vh;
position:fixed;
background:linear-gradient(
180deg,
#7c4dff,
#a78bfa,
#ec4899
);
padding:20px;
}

.logo{
font-size:24px;
font-weight:bold;
color:white;
margin-bottom:40px;
}

.menu-item{
display:block;
padding:14px;
margin-bottom:10px;
border-radius:12px;
text-decoration:none;
color:white;
background:rgba(255,255,255,.15);
}

.layout{
display:flex;
}

.content{
margin-left:280px;
padding:30px;
width:100%;
}

.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:20px;
box-shadow:0 10px 20px rgba(0,0,0,.08);
}

.ia-box{
margin-top:30px;
background:white;
padding:25px;
border-radius:20px;
box-shadow:0 10px 20px rgba(0,0,0,.08);
}

.login-container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(
135deg,
#7c4dff,
#a78bfa,
#ec4899
);
}

.login-card{
background:white;
padding:40px;
border-radius:25px;
width:400px;
}

.login-card input{
width:100%;
padding:12px;
margin-top:10px;
margin-bottom:10px;
}

.login-card button{
width:100%;
padding:12px;
margin-top:10px;
background:#7c4dff;
color:white;
border:none;
border-radius:10px;
}

.table-card{
background:white;
padding:20px;
border-radius:20px;
box-shadow:0 10px 20px rgba(0,0,0,.08);
}

.action-btn{
padding:12px 20px;
margin-right:10px;
background:#ec4899;
border:none;
color:white;
border-radius:10px;
}
.chart-card {
  background: white;
  padding: 25px;
  margin-top: 25px;
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(0,0,0,.08);
}

.card {
  transition: all .3s ease;
}

.card:hover {
  transform: translateY(-8px);
  cursor: pointer;
}

.menu-item:hover {
  background: rgba(255,255,255,.25);
}

.login-card {
  box-shadow: 0 20px 40px rgba(0,0,0,.15);
}